/* Display vuetify grid */
/* .row {
  border: 2px dashed red
}
.column {
  border: 2px dashed blue
}
.flex {
  border: 2px solid green;
} */

/* Mapbox element */
#map {
  width: 100%;
  height: 400px;
}
